body{
    margin:0;
    padding:0;
}

*{
    font-family: "Arial";
    color: white;
    font-weight: normal;
}


#footer{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#inclusionBanner{
    width: 500px;
}

#companyLogos{
    width: 650px;
}

#parentContainer{
    position: relative;
}

#backgroundImage{
    width:100%;
    display: block;
    height: auto;
}

#parentFlex{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#contentParent{
    margin-right: 100px;
}

#privacyParent{
    margin-left: 70px;
    margin-right: 70px;
}

h1{
    color:white;
    font-family: 'Arial';
}

.textInput{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-family: "arial";
}

.but{
    padding-left: 20px;
    padding-right: 20px;
    padding-top:12px;
    padding-bottom: 12px;
    color: white;
    background-color: green;
    border-radius: 5px;
    font-size: 16px;
    font-family: "arial";
    border: none;
    cursor: pointer;

}

#recipient_email{
    width: 300px;
}

#thanksMessage{
    margin-top: 5px;
}

#message{
    min-width: 600px;
    max-width: 800px;
    min-height: 100px;
}

#form{
    margin-bottom: 60px;
    margin-top: 30px;
}

#subtitle{
    width: 700px;
}

#thankYouParent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heartIcon{
    width: 100px;
}

#privacyPolicyButton{
    position: absolute;
    right: 40px;
    bottom: 30px;
    color: white;
    z-index: 20;
}

#viewMessageParent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}


#messageBubble{
    width: 500px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
    background-color: white;
    color: white;
    margin-top: 20px;
}

#messageText{
    font-style: italic;
    color: black;
    text-align: center;
    font-size: 20px;
}

#triangleFlex{
    width: 500px;
    justify-content: flex-end;
    display: flex;
}

#triangle{
    width: 80px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }