<!DOCTYPE html>
<html>
<head>
    <link href="../static/css/theme.css" rel="stylesheet">
    <title>Write a Kind Message</title>
</head>
<body>
    <div id="footer">
        <img src="../static/images/inclusion_banner.png" id="inclusionBanner">
        <img src="../static/images/company_logos.png" id="companyLogos">
    </div>

    <div id="privacyPolicyButton">
        <a href="/privacy">Privacy Policy</a>
    </div>

    <div id="parentContainer">
        <img src="../static/images/background.png" id="backgroundImage">

        <div id="viewMessageParent">
            <h1>A colleague has sent you a message of kindness ♡</h1>
            <div id="messageBubble">
                <h4 id="messageText">"{{ message[3] }}"</h4>
            </div>
            <div id="triangleFlex">
                <img src="../static/images/triangle.png" id="triangle">
            </div><br/>
            <input type="submit" value="Send your own" class="but" onclick="location.href = '/';">
        </div>
    </div>

</body>
</html>